/* Base Styles */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
}

body * {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-weight: 100;
  font-size: 1.5rem;
}

ul,
p {
  margin: 0;
}

p {
  line-height: 1.5;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
}

img {
  width: 100%;
}

.button {
  background-color: blue;
  text-decoration: none;
  color: white;
  padding: 0.5em;
  border-radius: 0.5em;
  width: 11em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* Layout Styles */

.navbar__list {
  display: flex;
  justify-content: flex-end;

  &-items {
    list-style: none;
    margin: 1em 1em 1em 1em;
  }
}

.hero__container {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__heading {
    padding-bottom: 2em;
  }

  &__subheading {
    padding-bottom: 2em;
    width: 40%;
  }
}

.lets-chat__form {
  &-row {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
  }

  &column {
    display: flex;
    justify-content: center;
  }

  &items {
    display: flex;
    align-items: center;
  }
}

.meet-kenzie__container {
  //   border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-rows: 33vh;
  grid-row-gap: 2em;

  &-header {
    // border: 2px solid black;
    // padding-top: 4em;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    &__link {
        margin-top: 1em;
        
    }

  }
  &-staff {
    // border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-column-gap: 2em;
    &-columns {
      justify-self: center;
      align-self: center;
    }
  }
  &-students {
    // border: 2px solid black;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 3;

    &-columns {
      justify-self: center;
      align-self: center;
    }
  }
}

.quotes__columns {
}

.course-header__columns {
}

.students__columns {
}

/* Blocks */

.navbar__list-items__link {
  text-decoration: underline;

  &-button {
    position: relative;
    bottom: 0.5em;
  }
}

.hero {
  &__heading {
    text-align: center;
  }

  &__subheading {
    text-align: center;
    max-width: 40em;
    min-width: 10em;
  }

  &__video {
    width: 100%;
    min-width: 34em;
    min-height: 20em;
  }
}

.lets-chat {
  display: flex;
  align-items: center;
  flex-direction: column;
  
  &__heading {
    text-align: center;
    margin-bottom: 0.25em;
  }

  &__body {
    text-align: center;
    max-width: 30em;
    margin-bottom: 2em;
  }

  &__form {
    &__input,
    &__input-name,
    &__input-submit {
      font-size: 1rem;
      font-family: "Nunito", sans-serif;
    }

    &__input,
    &__input-name {
      border: 2px solid rgb(172, 169, 169);
      border-radius: 0.2em;
      padding: 0.5em 0.5em 0.5em 0.5em;
    }
    &__input {
      width: 22em;
      margin-bottom: 0.3em;
    }

    &__input-name {
      margin-left: 0.15em;
      margin-bottom: 0.3em;
      width: 10.75em;
      position: relative;
      right: 0.2em;
    }
    &__input-submit {
      margin: 1.5em 0em 3em 0em;
    }
  }
}

.quotes {
}

.courses-header {
}

.courses-footer {
}

.meet-kenzie {

     
    &__students {
    &__video {
      width: 18em;
      margin: auto 0;
    }
  }
    &__staff__heading, &__students__heading {
        font-weight: bolder;
    }
}


.staff {
}

.students {
}

.schedule-header {
}

.schedule-form {
}

.staff__columns {
}

.lets-chat__form__rows {
}

.schedule-form__checkbox-row {
}

.schedule-form__textarea-rows {
}

/* Block elements here */

.courses {
  &__quotes {
    &__icon {
      width: 20px;
      height: auto;
    }
  }

}
.courses__quotes__body {
}

.courses__quotes__icon {
}

.courses__header__img {
}

.courses__header__heading {
}

.courses__header__button {
}

.courses__footer__heading {
}

.courses__footer__button {
}

.meet-kenzie__header__heading {
}

.meet-kenzie__header__body {
}

.meet-kenzie__staff__img {
  width: 8em;
}

.meet-kenzie__staff__heading {
}

.meet-kenzie__students__video {
}

.meet-kenzie__students__heading {
}

.meet-kenzie__students__body {
}

.lets-chat__heading {
}

.lets-chat__body {
}

.lets-chat__form__items {
}

.lets-chat__form__names {
}

.lets-chat__form__submit-btn {
}

.schedule-header__heading {
}

.schedule-header__subheading {
}

.schedule-header__body {
}

.schedule-form__checkbock__input {
}

.schedule-form__checkbox__heading {
}

.schedule-form__checkbox__body {
}

.schedule-form__textarea__heading {
}

.schedule-form__textarea__body {
}

.schedule-form__textarea__input {
}

.schedule-form__next-btn {
}

@media (min-width: 800px) {
  // Layout
  .meet-kenzie__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;

    &-header {
      grid-column-start: 1;
      grid-column-end: 9;
    }

    &-staff {
      grid-row-start: 2;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 9;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      // grid-column-gap: 2em;

      &-columns {
        // grid-column-start: 1;
        // grid-column-end: 4;
        // grid-column-gap: 2em;
      }
    }

    &-students {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      &-columns {
        justify-self: center;
        align-self: start;
        max-width: 40em;
      }
    }
  }
  // Block Elements
  .meet-kenzie {
    &__header {
      &__heading {
        margin: 1em 1em 0.25em 1em;
      }
      &__body {
        max-width: 46em;
      }
    }
    &__staff {
      &__img {
        width: 10em;
      }
    }

    &__students {
      &__heading,
      &__body {
        padding: 0.25em;
        text-align: left;
        max-width: 21em;
      }
    }
  }
}

@media (min-width: 900px) {
  .meet-kenzie {
      &__staff {
        &__img {
          width: 12em;
        }
      }
    }
  }
