/* Base Styles */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
}

body * {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-weight: 100;
  font-size: 1.5rem;
}

ul,
p {
  margin: 0;
}

p {
  line-height: 1.5;
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.button {
  background-color: blue;
  text-decoration: none;
  color: white;
  padding: 0.5em;
  border-radius: 0.5em;
  width: 11em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* Layout Styles */
.navbar__list {
  display: flex;
  justify-content: flex-end;
}
.navbar__list-items {
  list-style: none;
  margin: 1em 1em 1em 1em;
}

.hero__container {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero__container__heading {
  padding-bottom: 2em;
}
.hero__container__subheading {
  padding-bottom: 2em;
  width: 40%;
}

.lets-chat__form-row {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}
.lets-chat__formcolumn {
  display: flex;
  justify-content: center;
}
.lets-chat__formitems {
  display: flex;
  align-items: center;
}

.meet-kenzie__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-rows: 33vh;
  grid-row-gap: 2em;
}
.meet-kenzie__container-header {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 5;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}
.meet-kenzie__container-header__link {
  margin-top: 1em;
}
.meet-kenzie__container-staff {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-column-gap: 2em;
}
.meet-kenzie__container-staff-columns {
  justify-self: center;
  align-self: center;
}
.meet-kenzie__container-students {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}
.meet-kenzie__container-students-columns {
  justify-self: center;
  align-self: center;
}

/* Blocks */
.navbar__list-items__link {
  text-decoration: underline;
}
.navbar__list-items__link-button {
  position: relative;
  bottom: 0.5em;
}

.hero__heading {
  text-align: center;
}
.hero__subheading {
  text-align: center;
  max-width: 40em;
  min-width: 10em;
}
.hero__video {
  width: 100%;
  min-width: 34em;
  min-height: 20em;
}

.lets-chat {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.lets-chat__heading {
  text-align: center;
  margin-bottom: 0.25em;
}
.lets-chat__body {
  text-align: center;
  max-width: 30em;
  margin-bottom: 2em;
}
.lets-chat__form__input, .lets-chat__form__input-name, .lets-chat__form__input-submit {
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
}
.lets-chat__form__input, .lets-chat__form__input-name {
  border: 2px solid #aca9a9;
  border-radius: 0.2em;
  padding: 0.5em 0.5em 0.5em 0.5em;
}
.lets-chat__form__input {
  width: 22em;
  margin-bottom: 0.3em;
}
.lets-chat__form__input-name {
  margin-left: 0.15em;
  margin-bottom: 0.3em;
  width: 10.75em;
  position: relative;
  right: 0.2em;
}
.lets-chat__form__input-submit {
  margin: 1.5em 0em 3em 0em;
}

.meet-kenzie__students__video {
  width: 18em;
  margin: auto 0;
}
.meet-kenzie__staff__heading, .meet-kenzie__students__heading {
  font-weight: bolder;
}

/* Block elements here */
.courses__quotes__icon {
  width: 20px;
  height: auto;
}

.meet-kenzie__staff__img {
  width: 8em;
}

@media (min-width: 800px) {
  .meet-kenzie__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
  }
  .meet-kenzie__container-header {
    grid-column-start: 1;
    grid-column-end: 9;
  }
  .meet-kenzie__container-staff {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .meet-kenzie__container-students {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .meet-kenzie__container-students-columns {
    justify-self: center;
    align-self: start;
    max-width: 40em;
  }

  .meet-kenzie__header__heading {
    margin: 1em 1em 0.25em 1em;
  }
  .meet-kenzie__header__body {
    max-width: 46em;
  }
  .meet-kenzie__staff__img {
    width: 10em;
  }
  .meet-kenzie__students__heading, .meet-kenzie__students__body {
    padding: 0.25em;
    text-align: left;
    max-width: 21em;
  }
}
@media (min-width: 900px) {
  .meet-kenzie__staff__img {
    width: 12em;
  }
}

/*# sourceMappingURL=style.css.map */
