/* Base Styles */
html, body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
    font-family: "Open Sans";
}

body * {
    box-sizing: border-box;  
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    text-transform: capitalize;

}

ul, p {
    margin: 0;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;

}

a:hover {

}

img {
    width: 100%;
}

button {

}

/* Layout Styles */

.navbar__columns {

}

.hero__items {

}

.quotes__columns {

}

.course-header__columns {

}

.students__columns {

}

.lets-chat__form__rows {

}

/* Blocks */

    /* Sections here */

.navbar {

}

.hero {

}

.quotes {

}

.courses-header {

}

.courses-footer {

}

.meet-kenzie {

}

.staff {

}

.students {

}

.lets-chat {

}

.schedule-header {

}

.schedule-form {

}

.staff__columns {

}

.lets-chat__form__rows {

}

.schedule-form__checkbox-row {

}

.schedule-form__textarea-rows {

}

     /* Block elements here */


.navbar__list-items {

}

.navbar__list-items__tour {

}

.hero__items {

}

.hero__heading {

}

.hero__body {

}

.hero__video {

}

.quotes__body {

}

.quotes__img {

}

.courses-header__img {

}

.courses-header__heading {

}

.courses-header__button {

}

.courses-footer__heading {

}

.courses-footer__button {

}

.meet-kenzie__heading {

}

.meet-kenzie__body {

}

.meet-kenzie__link {

}

.staff__img {

}

.staff__heading {

}

.students__video {

}

.students__heading {

}

.students__body {

}

.lets-chat__heading {

}

.lets-chat__body {

}

.letschat__form {

}

.lets-chat__form__items {

}

.lets-chat__form__names {

}

.lets-chat__form__submit-btn {

}

.schedule-header__heading {

}

.schedule-header__subheading {

}

.schedule-header__body {

}

.schedule-form__checkbock__input {

}

.schedule-form__checkbox__heading {

}

.schedule-form__checkbox__body {

}

.schedule-form__textarea__heading {

}

.schedule-form__textarea__body {

}

.schedule-form__textarea__input {

}

.schedule-form__next-btn {
    
}